.btn-primary {
    /* Frame 2 */
    position: absolute;
    width: 244px;
    height: 57px;
    left: 1046px;
    top: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 28px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.btn-second{
    position: static;
    width: 244px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 21px 24px 21px 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
}

.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

 .group{
    width: 130.57px;
    height: 136.89px;
    left: 432.17%;
    right: -432.17%;
    top: 0%;
    bottom: 0%;
    align-items: center;
}

.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}